
@media screen and (min-width:520px){
    .imageContainer {
        height: inherit !important;
    }
    
    .carousel-inner {
        height: inherit !important;
    }
    
    .imageSlider {
        height: inherit !important;
    }
    
    
    .image, .imageWrapper {
        height: inherit !important;
    }
}
@media screen and (max-width:520px){
    .imageContainer {
        height: 200px !important;
    }
    
    .carousel-inner {
        height: 200px !important;
    }
    
    .imageSlider {
        height: 200px !important;
    }
    
    
    .image, .imageWrapper {
        height: 200px !important;
    }
    
}
