
.imageContainer {
    height: inherit !important;
}

.carousel-inner {
    height: inherit !important;
}

.imageSlider {
    height: inherit !important;
}


.image, .imageWrapper {
    height: inherit !important;
}