@import 'src/App.scss';

.productCardWrapper {
    display: flex;
    flex-direction: column;
    width: 228px;
    height: 300px;
    border: 3px #E5E5E5;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #282c34;
}

.productCardImageCarousel {
    height: 204px;
    display: block;
    background: #E5E5E5;
    border-radius: 2px 2px 0px 0px;
}

.productCardText {
    display: flex;
    flex-direction: column;
    height: 56px;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: $bodyTextSize;
    padding: 4px;
}

.priceWrapper {
    font-size: $productCardPriceTextSize;
    padding-right: 4px;
    font-weight: medium;
}

.discountPriceWrapper {
    font-size: $productCardDiscountPriceTextSize;
    padding-left: 4px;
    color: $disable;
    text-decoration: line-through;
}

.discountPercentageWrapper {
    font-size: $productCardDiscountPriceTextSize;
    padding-left: 4px;
    color: $error;
}

.productCardActions {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}