@import 'src/App.scss';
@import 'react-input-range/lib/css/index.css';


@media screen and (min-width:520px){
    
    .bodyComponent {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        padding: 0 32px;
    }
    .mainBody {
        display: flex;
        flex-direction: row;
    }
    
    .filterColumnContainer {
        width: 12%;
        padding: 24px 0 0 0;
        display: -webkit-flex;
        flex-direction: column;

    }
}
@media screen and (max-width:520px){
    
    .bodyComponent {
        display: flex;
        flex-direction: column;
        padding: 0 32px;
    }
    .mainBody {
        display: flex;
        flex-direction: column;
    }
    
    .filterColumnContainer {
        width: 90%;
        margin: auto;
        display: -webkit-flex;
        flex-direction: column;
    }
    
}
.breadCrumsContainer {
    padding: 20px 0 0 0;
}

.breadCrums {
    text-align: start;
    font-size: $bodyTextSize;
}

.pageTitleContainer {
    padding: 16px 0 0 0;
}

.pageTitle {
    text-align: start;
    text-transform: uppercase;
    font-weight: 600;
    color: $text-color;
}




.filterTitleContainer {
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.filterTitle {
    text-align: start;
    text-transform: uppercase;
    font-weight: 600;
    color: $primary;
}

.clearFilterTitle {
    text-align: end;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    color: $error;
}

.filterContainer {
    padding: 16px 0 16px 24px;
    border-top: 1px #e9e9e9 solid;
    border-right: 1px #e9e9e9 solid;
    align-content: center;
    justify-content: flex-start;
}

.primaryFilterText {
    font-weight: 600;
}

.secondaryFilterTitleText {
    text-transform: capitalize;
    text-align: start;
    width: 100%;
    font-size: $bodyTextSize;
    padding-left: 0;
}

.secondaryFilterText {
    color: $text-color;
    font-weight: 300;
}

.priceRangeFilterWrapper {
    padding: 16px 24px 16px 24px;
    border-top: 1px #e9e9e9 solid;
    border-right: 1px #e9e9e9 solid;
    align-content: center;
    justify-content: flex-start;
}

.priceRangeFilterTitleText {
    text-transform: capitalize;
    text-align: start;
    width: 100%;
    font-size: $bodyTextSize;
    padding-left: 0;
    margin-bottom: 24px;
}

.productSearchListColumnContainer {
    width: 88%;
    padding: 25px 0 0 12px;
}

.productListContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
}
