.addressName{
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 24px;
}


.addressField{
    font-size: 16px;
    margin-bottom: 24px;
}

.addFieldsWrapper{
    display: flex;
    flex-direction: column;
}
.addFieldWrapper{
    display: flex;
    flex-direction: row;
    margin-left: 24px;
}
.addressDefault{
    margin-left: 6px;
}