@import 'src/App.scss';

label {
    font-size: $bodyTextSize;
    padding: 4px;
}

input[type="radio"] {
    padding: 0px;
    margin: 0px;
}

input:checked + label {
    color: $primary;
}
  
input[type="radio"]:checked {
    background-color: $primary;
}

.radioButtonWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}