.paymentRowMain{
    margin-top: 24px;
}
.paymentRowOptions{
    align-items: center;
}
.paymentCardForm input{ 
    margin-bottom: 16px;
}
.paymentOption{
    font-size: 20px;
    font-weight: 700;
}
.paymentCardNewText{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}