@import "~bootstrap/scss/bootstrap";
//--------- COLOR VARIABLES ---------//
$primary: #2E77BA;
$secondary: #249C46;
$other: #EABA0F;
$error: #DC4040;
$disable: #848484;
$background: #FFFFFF;
$main: #242424;
$text-color: #2d2d30;

//--------- FONT STYLE VARIABLES ---------//
$bodyTextSize: 14px;
$titleTextSize: 20px;
$productCardPriceTextSize: 14px;
$productCardDiscountPriceTextSize: 12px;
$brandTitleTextSize: 32px;

.App {
  text-align: center;
  display: block;
  font-family: Roboto, sans-serif
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
