@import '../../../App.scss';

.buttonContained {
    background-color: $primary;
    display: inline-block;
    border: none;
    width: max-content;
    border-radius: 0.2rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
    transition: background 100ms ease-in-out, 
                transform 100ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.buttonContained.button-primary {
    background-color: $primary;
}
.buttonContained.button-secondary{
    background-color: $secondary;
}
.buttonContained.button-primary:hover, .buttonContained.button-primary:focus {
    background-color: $primary-hover;
}
.buttonContained.button-secondary:hover, .buttonContained.button-secondary:focus {
    background-color: $secondary-hover;
}
.buttonContained:active {
    transform: scale(0.9);
}