@import 'src/App.scss';

.headerContainer {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 12px 0 #282c340f;
    z-index: 10;
    background-color: $background;
}

.headerMobileContainer{
    width: 100%;
    height: 160px;
    box-shadow: 0 4px 12px 0 #282c340f;
    z-index: 10;
}
.headerMobileRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 12px;
}

.logoWrapper {
    width: max-content;
    margin-left: 4%;
}

.logo {
    height: inherit;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 700;
    color: $primary;
    font-size: $titleTextSize;
}

.navLinkWrapper {
    display: inline;
}

.navLink {
    display: inline;
    vertical-align: middle;
    color: $text-gray;
    font-size: $bodyTextSize;
    padding: 0 16px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.searchBarWrapper {
    width: max-content;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    float: right;
    padding: 0 16px;
}

.searchBar {
    display: inline-block;
}

.quickActionLinkWrapper {
    width: max-content;
    display: flex;
    flex-direction: row;
    font-size: $titleTextSize;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 16px;
}

.wishListIcon {
    color: $text-gray;
    position: relative;
    cursor: pointer;
    margin-right: 32px;
}

.cartIcon {
    color: $text-gray;
    position: relative;
    cursor: pointer;
    margin-right: 32px;
}

.userAccountIcon {
    color: $text-gray;
    cursor: pointer;
    margin-right: 32px;
}

.languageWrapper {
    margin-right: 32px;
    font-size: $bodyTextSize;
    color: $text-gray;
}
